# ==========================================
# Maven
# ==========================================

target/
!.mvn/wrapper/maven-wrapper.jar


# ==========================================
# IntelliJ IDEA
# ==========================================

.idea/
*.iws
*.iml
*.ipr


# ==========================================
# Eclipse
# ==========================================

.classpath
.project
.settings/
bin/


# ==========================================
# VS Code
# ==========================================

.vscode/


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Logs
# ==========================================

*.log


# ==========================================
# Environment / Secrets
# ==========================================

.env
.env.*
!.env.example

application-local.properties
application-secret.properties


# ==========================================
# Spring Boot
# ==========================================

spring.log